
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
h1 {
    color: #bd0d0d;
}
.challenge {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.inputFile{
    display: none;
}
img {
    display: block;
    margin-top: 20px;
    max-width: 100%;
}